<%- include('layout/header') %> 
<%- include('layout/navbar') %>
<div class="container">
    <h1 class="alert alert-danger">
        you aren't Admin
    </h1>
</div>
<%- include('layout/footer') %> 
